/* Core Styling */
.container {
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 3px;
}

/* Menu Styling */

.menu {
    background-color: #333;
    overflow: hidden;
}

.menu a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px;
    transition: background-color 0.3s;
}

.menu a:hover {
    background-color: #ddd;
    color: black;
}

/* File Select */
.file-form {
    margin: 10px;
}

.file-form-min {
    margin: 5px;
}

.file-input {
    display: inline;
    margin-right: 5px;
}

.file-form .file-label {
    font-size: 16px;
    margin-bottom: 10px;
    margin-right: 5px;
}

.file-form-min .file-label {
    font-size: 10px;
    margin-bottom: 5px;
}

.file-dropdown {
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    width: 200px;
}

.file-form .file-dropdown {
    padding: 8px;
    font-size: 14px;
}

.file-form-min .file-dropdown {
    padding: 3px;
    font-size: 8px;
}

.file-submit {
    border: none;
    border-radius: 4px;
    background-color: #6a8aac;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.file-form .file-submit {
    padding: 9px 16px;
    font-size: 14px;
}

.file-form-min .file-submit {
    padding: 3px 10px;
    font-size: 8px;
}

.file-submit:hover {
    background-color: #2f537a;
}

.filename-input {
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    width: 200px;
    padding: 8px;
    font-size: 14px;
}

.save-button {
    margin-left: 5px;
    padding: 9px 16px;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    background-color: #6aac7c;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.save-button:hover {
    background-color: #2f7a4e;
}

.delete-button {
    margin-left: 5px;
    padding: 9px 16px;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    background-color: #ac6a6a;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.delete-button:hover {
    background-color: #7a2f2f;
}


/* Fieldset Styles */
.field-title {
    font-size: 20px;
    font-weight: bold;
}

.field-container {
    margin-top: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
}

.item-fieldset {
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}

.item-legend {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-left: 5px;
}

.item-remove {
    margin: 2px;
    background-color: #dc7535;
    color: white;
    border: none;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
}

.item-remove:hover {
    background-color: #c85f23;
}

.item-add {
    margin: 2px;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.item-add:hover {
    background-color: #0056b3;
}

.item-move {
    margin: 2px;
    background-color: #ee00ff;
    color: white;
    border: none;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.item-move:hover {
    background-color: #7100b3;
}

/* Input Styles */
.input-label {
    font-size: 14px;
    margin-left: 10px;
    margin-right: 4px;
}

.name-input {
    margin-bottom: 3px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    width: 200px;
    /* Adjust width as needed */
}

.direction-input {
    margin-bottom: 3px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    width: 35px;
    /* Adjust width as needed */
}

.connect-button {
    background-color: #169cb7;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.connect-button:hover {
    background-color: #026f82;
}

.radio-label {
    font-size: 16px;
    margin-left: 5px;
    vertical-align: middle;
}

.radio-input {
    margin-right: 5px;
    vertical-align: middle;
}

.network-dropdown {
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    width: 50px;
    padding: 4px;
    font-size: 14px;
}

.dropdown {
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    padding: 4px;
    font-size: 14px;
}

.textarea-input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    width: 300px;
    /* Adjust width as needed */
    height: 150px;
    /* Adjust height as needed */
    resize: vertical;
    /* Allow vertical resizing */
    outline: none;
}

.textarea-input:focus {
    border-color: #007bff;
}

.textarea-input-large {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    width: 400px;
    /* Adjust width as needed */
    height: 200px;
    /* Adjust height as needed */
    resize: vertical;
    /* Allow vertical resizing */
    outline: none;
}

.textarea-input-large:focus {
    border-color: #007bff;
}